#root {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.bank {
    display: flex;
    margin: 0 auto;
    gap: 2rem;
    justify-content: space-between;
}
